@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* *{ */
  
   /* margin: 1vw; */
   /* padding: 1vw; */

/* } */

body{
    background: #000;
    margin: 0;
  }
/* -------Pre_lodercss------*/
  #gif{
    
   
    height: 100vh;
    width: 100%;
    scale: 1;
  }
.loader{
    
    position:fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width:100%;
    height: 100vh;
   background: #000;
   display: flex;
   
   justify-self: center;
   align-items: center;
}
.loader > img{
    width: 100px;
}
.loader.hidden{
    animation: fadeout 12s;
    animation-fill-mode: forwards;
}
@keyframes fadeout{
    100%{
        opacity: 10;
        visibility: hidden;
    }
}
/* -------Pre_lodercss------ end*/


/* -------Navigation Header----- */
.link_text{
    font-family: "Poppins",sans-serif;
    font-weight: 40;
    font-size: 15px;
    color: #9834eb;
    text-decoration: none;
}
.logo_line{
    --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
    font-family: "Poppins",sans-serif;
    font-weight: 40;
    font-size: 30px;
    color: #9834eb;


    text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
    
    text-transform: uppercase;
    font-size: calc(2rem + 2vw);
    text-align: center;
    margin: 0;
    color: var(--color-primary);
    
    animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
    letter-spacing: 0.4rem;
  }
  
  @keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
@keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
  }
.navlogo{
    
    cursor: pointer;
   
    margin:2rem;
    
}
.nav_links{
    list-style: none;
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
.nav_links li a{
    transition: all 0.1s ease 0s;
}
.flex{
    display: flex;
    align-items: center;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px ;
}
   

/* -------Navigation header------ end*/

/* -------Hero Section------ */
.hero{
    align-items: center;
 
    
}
.text01{
    font-family: "Poppins",sans-serif;
    font-weight: 40;
    font-size: 48px;
    color: #ffff;
    text-align: center;
    margin-bottom: 0rem;
   
    
}
.text02{
    font-family: "Poppins",sans-serif;
    font-weight: 40;
    font-size: 48px;
    color: #ffff;
    text-align: center;
    text-justify: auto;
    

    
}

.text03{
    font-family: "Poppins",sans-serif;
    font-weight: 40;
    font-size: 20px;
    color: #ffff;
    text-align: center;
}
.text04{
    font-family: "Poppins",sans-serif;
    font-weight: 40;
    font-size: 15px;
    color: #fff;
    text-align: center;
}
.btn{
  display: flex;
  justify-content: center;
}
button {
  margin: 2rem;
  
}
.btn-3d {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  background-color: #4d4dff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  transition: transform 0.2s, box-shadow 0.3s;
  cursor: pointer;
}
.btn-3d:before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: inherit;
  z-index: -1;
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn-3d:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn-3d:hover:before {
  transform: translateY(3px);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
}
.btn-text{
  text-decoration: none;
  color: #ffffff;
}
/* -------Hero Section------ end*/

        
body{
    background-color: black;
    color:#fff;
}
/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us{
    padding-left: 15vw;
    padding-right: 15vw;
    display: flex;
 
}
.about-us-card{
    background-color: #E9D5FF;
    margin:10px;
    border-radius: 10%;
    padding: 20px;
    color: black;
    /* height: 200px; */
}
.about-us-card-icon{
    background-color: black;
    padding:5px;
    border-radius: 10px;
    color:#fff;
    padding: 10px;
    /* margin-top: 10px; */
}
.about-us-card:hover{
    transition:500ms;
    background-color: #9435EB;
    margin:10px;
    border-radius: 10%;
    padding: 20px;
    color: white;
    /* height: 200px; */
    .about-us-card-icon{
        transition: 500ms;
        background-color: white;
        padding:5px;
        border-radius: 10px;
        color:#000;
        padding: 10px;
        /* margin-top: 10px; */
    }
}
/* --------------------------------------------------------- */

/* features section start */

/* ---------------------------------------------------------- */
.features{
  padding: 10vw;
}
.features_cards{
    display: flex;
}
.feature_image img{
    height: 350px;
    border-radius: 5%;
}
.feature_image{
    /* top: 10px; */
    left: 10vh;
    position:relative;
    z-index: 0;
}
.feature_content{
    border-radius: 5%;
    top: 20px;
    left: 0vh;
    width: 500px;
    background-color:#9435EB ;
    position:relative;
    padding: 10px;
    z-index: 1;
}
 .feature_image:hover{
    z-index: 2;
    transition:ease-in-out 500ms;
    scale: 1.05;
}
/*.feature_image:hover::before,
.feature_image::after{
    z-index: 0;
    transition:ease-in-out 500ms;
    scale: 1;
} */
/* End of Feature */
/* End of Feature 1 */

/* start of feature 2 */
.features_cards_2{
  display: flex;
}
.feature_image_2 img{
  height: 300px;
  border-radius: 5%;
}
.feature_image_2{
  top: 120px;
  left: 10vh;
  position:relative;
  z-index: 0;
}
.feature_content_2{
  border-radius: 5%;
  top: 76px;
  left: 4vh;
  width: 500px;
  background-color:#9435EB ;
  position:relative;
  padding: 10px;
  z-index: 1;
}
.feature_image_2:hover{
  z-index: 2;
  transition:ease-in-out 500ms;
  scale: 1.05;
}
/* End of Feature 2 */

/* start of feature 3 */
.features_cards_3{
  display: flex;
}
.feature_image_3 img{
  height: 350px;
  /* scale: 1.35; */
  border-radius: 3%;
}
.feature_image_3{
  top: 210px;
  left: 45vh;
  position:relative;
  z-index: 0;
}
.feature_content_3{
  top: 166px;
  right: 55vh;
  /* padding: 300vw; */
  width: 500px;
  background-color:#9435EB ;
  position:relative;
  padding: 10px;
  z-index: 1;
  border-radius: 5%;
}
.feature_image_3:hover{
  z-index: 2;
  transition:ease-in-out 500ms;
  scale: 1.05;
}
/* End of Feature */

/* speacial feature word */
.revealUp_1 {
  color:#9435EB ;
}
.revealUp_2 {
  color:#fff ;
  left:100vh;
  position:relative;
  top: 3vh;
  width: 200px;
}
.revealUp_3 {
  color:#9435EB ;
  top:15vh;
  position: relative;
}
.spacer {
  height: 50vh;
  background-color: #000;
}
.features_div{
  align-items: center;
}

/*--------------------------------------------------------------
# box-feature
--------------------------------------------------------------*/
.box_feature{
 display: flex; 
 margin: 4rem;
}

/*--------------------------------------------------------------
# box-feature ends
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Testomonials
--------------------------------------------------------------*/
#loader {
	background-color: #ffffff;
	height: 15em;
	width: 15em;
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
	display: -ms-grid;
	display: grid;
	place-items: center;
	border-radius: 5px;
}
#loader:after {
	content: "";
	position: absolute;
	height: 11em;
	width: 11em;
	border: 0.9em solid #a0a0a0;
	border-top-color: #4249ed;
	border-radius: 50%;
	-webkit-animation: spin 1s linear infinite;
	-o-animation: spin 1s linear infinite;
	-moz-animation: spin 1s linear infinite;
	animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-moz-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@-o-keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes spin {
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
#box {
	position: relative;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	top: 25vh;
	left: 50%;
	width: 80vw;
	max-width: 41em;
	min-height: 26em;
	display: none;
  padding-bottom: 50px;
}
.img-con {
	position: absolute;
}
.img-con img {
	height: 1px;
	width: 1px;
}
.wrapper {
	background-color: #2D2E37;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-radius: 0.6em;
	-webkit-box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
	box-shadow: 0 1.8em 3em rgba(1, 17, 39, 0.15);
}
.testimonial-container {
	width: 85%;
	height: 100%;
	position: relative;
	margin: auto;
	padding: 1.8em 1.2em;
}
.testimonial-container p {
	color: #fff;
	text-align: center;
	font-size: 0.9em;
	line-height: 2em;
	letter-spacing: 0.05em;
}
.testimonial-container img {
	display: block;
	margin: 1.8em auto 1.25em auto;
	border-radius: 50%;
	width: 4.4em;
}
.testimonial-container h3 {
	color: #fff;
	font-size: 1em;
	text-align: center;
}
.testimonial-container h6 {
	color: #bcc4da;
	font-size: 0.9em;
	letter-spacing: 0.03em;
	font-weight: 400;
	text-align: center;
}
.wrapper button {
	font-size: 1.8em;
	color: #2D2E37;
	height: 2.2em;
	width: 2.2em;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	background-color: #bcc4da;
	border: none;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 1em rgba(0, 0, 0, 0.25);
	cursor: pointer;
}
button#next {
	right: -1.1em;
}
button#prev {
	left: -1.1em;
}

@media screen and (max-width: 650px) {
	.wrapper {
		font-size: 14px;
	}
}


/*--------------------------------------------------------------
# Testomonials End
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Privacy Policy
--------------------------------------------------------------*/
.text-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 48rem;
  padding-bottom: 3rem;
}
.lineee{
  font-size: 48px;
  font-weight: 400;

}
.privacy_content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.privacy_wrapper {
  border: 2px solid black;
  padding: 40px;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
}

.privacy_box {
  border: 1px solid rgb(255, 255, 255);
  text-align: justify;
  padding: 15px;
  margin: 10px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #2D2E37;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top .footer-info {
  color:#fff;
  margin-bottom: 30px;
}
.footer-info{
  /* padding-right: 400px; */
  position: relative;
  right: 40vh;
}
footer {
  display: block;
}
.footer_symbol{
  display:flex;
}
.footer_symbol h1{
  padding-left: 10px;
  background-image: linear-gradient(to right, #886DF4, #9435EB);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.footer_symbol img{
  padding-top: 10px;
  width: 50px;
  height: 50px;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  /* width: 100%; */
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.justify-content-center {
  justify-content: center!important;
}
.d-flex {
  display: flex!important;
}
.special_words{
  color:#9435EB
}
.row p{
  color: #bcc4da;
  width: 200px;
  font-size: medium;
}
.new_icons{
  padding: 10px;
  color:#a0a0a0
}
.new_icons:hover{
  /* padding: 10px; */
  scale: 1.5;
  color:#9435EB
}
.footer_privacy{
  position: relative;
  right: 10vh;
}
.footer_privacy a{
  font-size: large;
  text-decoration: none ;
  color: #a0a0a0;
}
.footer_privacy a:hover{
  color:#9435EB;
}
.footer-links{
  position: relative;
  left:20vh;

}
.footer-links-list{
  list-style: none;
}
.footer-links-list a{
  font-size: large;
  text-decoration: none ;
  color: #a0a0a0;
}
.footer-links-list a:hover{
  color:#9435EB;
}
.footer-links-list li{
  padding: 5px;
}
.copyright{
  text-align: center;
  font-size: large;
}
.copyright-kursor{
  color:#9435EB
}
.heading h1 {
  text-align: center;
  font-size: 40px;
  padding: 10px;
  background-image: linear-gradient(to right, #3d15db, #9435EB);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  /* -webkit-background-clip: text; */
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.wrapper-values{
  padding:20px;
}