body{
    background: #e5ebdf;
  }
#loading{
    
    position:fixed;
    width:100%;
    height: 100vh;
   background:#fff
   url('https://drive.google.com/file/d/1u2lNwKvOvnjCAvqGQeC9YqGxMmuzvchI/view?usp=drive_link')
   no-repeat center; 
   z-index: 99999;

        
}